body {
    position: relative;
    font-family: 'Rubik', sans-serif;
		margin: 0;
		padding: 0;
    color: #6B4D57;
}

a {
	text-decoration: none;
}

/* NavBar */

#navbar {
    height: 60px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;

    z-index: 1;
}

#brand {
    height: 100%;
    color: black;
    font-weight: 500;
    position: absolute;
    line-height: 60px;
    left: 60px;
}

#brand .emphasize {
    color: white;
    background-color: #BCABAE;
    height: 20px;
    border-radius: 5px;
    padding: 5px;
}

.links {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link {
    color: #2C1A1D;
    margin: 0 20px;
    transition: color 0.2s;
}

.link:hover {
    color: #6B4D57;
}

/* Hero */

#home-hero {
  margin-top: 50px;
}

#hero {
    height: 100%;
    background: linear-gradient(to right, #BCABAE, #FBFBFB);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero img {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  margin-bottom: 10px;
}

#hero h1 {
    margin: 0;
    font-weight: 500;
    color: #2C1A1D;
}

.divider {
    height: 1px;
}

#hero .divider {
    width: 100px;
    background-color: #2C1A1D;
}

#hero .description {
    text-align: center;
    line-height: 30px;
    max-width: 400px;
    font-weight: 300;
}

#hero .action-btn {
    color: #2C1A1D;
    border: 2px solid #2C1A1D;
    padding: 10px 15px;
    border-radius: 5px;

    transition: all 0.2s;
}

#hero .action-btn:hover {
    transform: translateY(-2px);
}

/* Features */
#features {
    margin-top: 20px;

    display: flex;
    flex-direction: row;

    padding: 0 60px;
}

#features .feature {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.feature .header {
    font-weight: 500;
    margin: 10px 0 5px 0;
    color: #2C1A1D;
}

.feature .body {
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    margin: 0 0 5px 0;
}

.feature img {
    height: 100px;
}

/*-----contact-------*/

.contact {
  width: 100%;
  padding: 100px 0px;
  text-align: center;
}
.contact ul {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact ul li {
  list-style: none;
  float: left;
  margin: 10px;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  background: #FBFBFB;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  color: #FBFBFB;
  font-size: 25px;
  z-index: 1;
  transition: .5s ease-in-out;
}

.contact ul li:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #BCABAE;
  opacity: .5;
  z-index: -1;
  border-radius: 50%;
  transform: scale(0);
  transition: .3s ease-in-out;
}

.contact ul li:hover:before {
  transform: scale(.9);
}

.contact ul li:hover .fa {
  color: #fff;
}

.contact ul li a {
  color: #BCABAE;
  display: block;
}

.contact .fa {
  padding-top: 25px;
}
